<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="newtrekwang.com.usercenter">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:theme="@style/AppTheme"
        android:name="newtrekwang.com.baselibrary.common.BaseApplication">
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.ForgetPwdActivity"/>
        <activity android:name=".ui.activity.ResetPwdActivity"/>
    </application>

</manifest>